/* VARIABLE */
:root {
  --nav-height: 60px;
  --theme-font: 'Roboto Condensed',
    sans-serif;
  --theme-color-primary: rgb(17 20 62);
  --theme-color-secondary: rgb(45, 49, 250);
  --theme-color-tertiary: rgb(93, 139, 244);
  --theme-color-quaternary: rgb(223, 246, 255);
  --theme-color-quinary: rgb(227 227 227);
}

/* === GLOBAL STYLE START === */
body {
  margin: 0;
  font-family: var(--theme-font);
}

ol {
  margin: 0;
  padding: 0;
}

ol li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation-container,
.section-container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.section-container {
  padding-top: var(--nav-height);
  height: 100vh;
}

/* === GLOBAL STYLE END === */

/* === ANIMATION STYLE START === */
/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white;
  }
}

/* === ANIMATION STYLE END === */

/*
  === HEADER / TOP NAV START ===
  fixed size: 60px
  because this element is fixed 
  make sure all element (.section-container) have equal margin top with this element
*/
header {
  height: calc(var(--nav-height) - 1px);
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--theme-color-primary);
  border-bottom: 1px dashed var(--theme-color-primary);
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(227 227 227 / 50%);
}

.navigation-container .left-navigation {
  display: flex;
  align-items: center;
}

.navigation-container .left-navigation .title {
  font-weight: bold;
  padding-left: 10px;
}

.navigation-container .left-navigation .title h1,
.navigation-container .left-navigation .title h2 {
  margin: 0;
}

.navigation-container .left-navigation h1 {
  font-size: 20px;
}

.navigation-container .left-navigation h2 {
  font-size: 14px;
}

.navigation-container .left-navigation img {
  height: 50px;
  padding: 5px 0;
}

.navigation-container .right-navigation ol {
  display: flex;
  gap: 0 40px;
  height: 100%;
}

.navigation-container .right-navigation ol li {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.navigation-container .right-navigation ol li a {
  color: inherit;
}

/* === HEADER / TOP NAV END === */

/* === HERO SECTION START ===*/
#hero {
  background-image: url("/image/golang_a02_lightgray_color.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
}

#hero section {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;
}

#hero section .terminal {
  width: 80%;
  height: 50%;
}

#hero section.left-hero .command-control {
  display: flex;
  justify-content: space-between;
  background-color: #161718;
  color: white;
  padding: 4px 8px;
  border-radius: 4px 4px 0 0;
}

.command-control-action {
  display: flex;
}

.command-control-action div {
  display: flex;
  align-items: center;
  padding: 0 4px;
}

#hero section.left-hero .command-line-box {
  height: calc(100% - 27px);
  font-family: 'Courier New', Courier, monospace;
  border-radius: 0 0 4px 4px;
  background-color: #202124;
  box-shadow: inset 20px 20px 60px #1b1c1f,
    inset -20px -20px 60px #252629;
}

#hero section.left-hero .command-line-box .command-line {
  display: inline-flex;
  padding: 20px 10px;
  color: white;
  background-color: #202124;
}

#hero section.left-hero .command-line-box .command-line p {
  margin: 0 0 auto 0;
}

#hero section.left-hero .command-line-box .command-line p:nth-child(1) {
  padding-right: 8px;
  color: orange
}

#hero section.left-hero .command-line-box .command-input {
  overflow: hidden;
  border-right: 0.35em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation: typing 4.5s steps(40, end), blink-caret .75s step-end infinite;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

#hero section.left-hero .command-line-box .command-input span {
  color: gray;
}

#hero section.right-hero {
  padding-left: 40px;
  color: var(--theme-color-primary);
}

#hero section.right-hero h1 {
  font-size: 76px;
  margin-bottom: 0;
}

#hero section.right-hero p {
  margin-top: 0;
  font-size: 36px;
}

/* === HERO SECTION END ===*/